.autentication-section {
  display: flex;
}

.side-image {
  height: 100dvh;
  overflow: hidden;
  flex: 1;
}

.side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white);
  color: var(--dark-gray);
  flex: 1.5;

  .container {
    width: 100%;
    max-width: 22.5rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
  }

  .logo {
    max-height: 3.75rem;
  }

  .form-autentication {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;

    .input-data {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: var(--base-text);
    }

    .primary-button{
      margin-top: 1.25rem;
    }
  }

  .create-account-anchor {
    color: var(--primary);
  }
}

@media (max-width: 880px) {
  .side-image {
    display: none;
  }

  .form-section {
    width: 100%;
    align-items: flex-start;

    .container{
      padding-block: 2rem;
    }
  }
}

@media (max-width: 420px) {
  .form-section {
    .container {
      margin-inline: 20px;
    }
  }
}