body {
  background: var(--white);
}

.container {
  max-width: 57.5rem;
  margin-inline: auto;

  @media (max-width: 61.25rem) {
    padding-inline: 1.25rem;
  }
}

main {
  .profile-header {
    display: flex;
    height: 10rem;
    padding: 1.25rem;
    border-radius: var(--br-base);
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3.75rem;
    background: var(--primary-gradient);
    font-size: var(--base-text);
    color: var(--white);

    .name {
      display: block;
      font-weight: 500;
    }

    .cards {
      display: flex;
      gap: 1.25rem;

      .tasks-info {
        width: 7.5rem;
        height: 7.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: .625rem;
        border-radius: var(--br-base);
        background: var(--purple);
      }
    }
  }

  .input-task-form {
    margin-block: 2.5rem;
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;

    .input-area {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      font-size: var(--base-text);
      color: var(--dark-gray);
      width: 100%;
    }

    .primary-button {
      flex: 15rem;

      svg {
        height: 1.5rem;
      }
    }
  }

  .empty-state-area {
    .content {
      background: var(--light-gray);
      border: 1px solid var(--gray);
      border-radius: var(--br-base);
      color: var(--dark-gray);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2.5rem;
      gap: .625rem;
      margin-bottom: 40px;

      .illustration {
        height: 17.5rem;
      }

      .title {
        font-size: var(--md-text);
      }

      p {
        font-size: var(--base-text);
      }
    }
  }

  .task-list-area {
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1.25rem;

    &.show {
      display: flex;
    }

    .card-list {
      flex: 27.5rem;
      border: 1px solid var(--gray);
      border-radius: var(--br-base);
      overflow: hidden;

      header {
        .pending & {
          background-color: var(--secondary);
        }

        .done & {
          background-color: var(--primary);
        }

        padding: 1.25rem;

        h2 {
          font-weight: 400;
          font-size: var(--md-text);
          color: var(--white);
        }
      }

      .task-list {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1.25rem;
        overflow-y: auto;
        height: 20rem;

        .task {
          display: flex;
          align-items: center;
          color: var(--dark-gray);
          font-size: var(--base-text);
          gap: .625rem;

          input {
            cursor: pointer;
            accent-color: var(--primary);
            height: 1.25rem;
            width: 1.25rem;
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: .3125rem;

            .date {
              font-size: var(--sm-text);
            }
          }

          .remove-btn {
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            background: transparent;
            color: var(--dark-gray);
          }
        }
      }
    }
  }
}